h1 {
  text-align: center;
}

td {
  width: 150px;
  height: 150px;
}

table {
  margin: auto;
}


.cls {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#special td{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
